{% extends "layout.html" %}

{% block content %}

<div class="important">
    <h1>The Instacart Shopper</h1>
    <p class="important">Team FRAPA did a behavioral analysis of Instacart Shopper's buying patterns</p>
    <p><a href="https://www.instacart.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<img src="/static/images/personalshopper.jpg" alt="Instacart" height="200" width="600">

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Analysis Approach</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet risus nullam eget felis. Est ante in nibh mauris. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc. Neque sodales ut etiam sit amet nisl purus in.</p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tools & Libraries Used</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet risus nullam eget felis. Est ante in nibh mauris. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc. Neque sodales ut etiam sit amet nisl purus in.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Predictions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet risus nullam eget felis. Est ante in nibh mauris. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc. Neque sodales ut etiam sit amet nisl purus in.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
