{% extends "layout.html" %}
{% block myscripts %}
<link rel="stylesheet" type="text/css" href="/static/content/site.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
{% endblock %}

{% block content %}

<div class="container">
    <div class="important">
      <h1>
        Shopping Behavior Analysis
      </h1>

      <p>Product Learnings</p>
<div class="col-md-6 text-center">
    <img class= "resize" src="/static/images/Product.png" alt="Product ML">
</div>



{% endblock %}

{% block scripts %}
<!-- <script src="/static/scripts/plots.js"></script> -->
{% endblock %}