<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Instacart Shopper</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-color"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">The Instacart Shopper</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-color">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('ml') }}">Machine Learning</a></li>
                    <li><a href="{{ url_for('viz') }}">Visualizations</a></li>
                    <li><a href="{{ url_for('ihub') }}">Information Hub</a></li>
                    <li><a href="{{ url_for('team') }}">Team</a></li>
                </ul>
            </div>
        </div>
    </div>
    <body style="background-color: hsl(214, 63%, 82%);"></body>
    
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Meet Team FRAPA!</h1>
        </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="../static/images/Fatima.jpg" alt="Fatima Mehdikarimi" width="250" height="250">
        <h2>Fatima Mehdikarimi</h2>
        <table class="table table-dark">
        <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Hometown:</td>
                        <td>Alpharetta, GA</td>
                    </tr>
                    <tr>
                        <td>Nickname:</td>
                        <td>Shopping Queen</td>
                    </tr>
                    <tr>
                    <td>Occupation:</td>
                    <td>Marketing Professional</td>
                    </tr>
                    <tr>
                    <td>Interests:</td>
                    <td>Shopping</td>
                    </tr>
                    <tr>
                    <td>LinkedIn:</td>
                    <td><a href="https://www.linkedin.com/in/shoppingqueen/">Fatima Mehdikarimi</a></td>
                    </tr>
                </tbody>
                </table>
        </div>
        <div class="col-md-6 text-center">
        <img src="../static/images/Raj.jpg" alt="Raj Kartha" width="250" height="250">
        <h2>Raj Kartha</h2>
        <table class="table table-dark">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Hometown:</td>
                    <td>Suwanee, GA</td>
                </tr>
                <tr>
                    <td>Nickname:</td>
                    <td>Biriyani King</td>
                </tr>
                <tr>
                <td>Occupation:</td>
                <td>Information Technology Professional</td>
                </tr>
                <tr>
                <td>Interests:</td>
                <td>NFL, Cricket, New Cuisines, Movies, Family Road Trips</td>
                </tr>
                <tr>
                <td>LinkedIn:</td>
                <td><a href="https://www.linkedin.com/in/raj-kartha-0046487/">Raj Kartha</a></td>
                </tr>
            </tbody>
            </table>
    </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="../static/images/Ale.PNG" alt="Alejandra Gomez" width="250" height="250">
        <h2>Alejandra Gomez</h2>
        <table class="table table-dark">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Hometown:</td>
                    <td>Cumming, GA</td>
                </tr>
                <tr>
                    <td>Nickname:</td>
                    <td>Coffee Queen</td>
                </tr>
                <tr>
                <td>Occupation:</td>
                <td>Business Analytics Professional</td>
                </tr>
                <tr>
                <td>Interests:</td>
                <td>Tang Soo Do Practice</td>
                </tr>
                <tr>
                <td>LinkedIn:</td>
                <td><a href="https://www.linkedin.com/in/mariaalejandragomez1/">Maria Alejandra Gomez</a></td>
                </tr>
            </tbody>
            </table>
    </div>
    <div class="col-md-6 text-center">
        <img src="../static/images/Priya.jpg" alt="Priya Kulkarni" width="250" height="250">
        <h2>Priyadarsini Kulkarni</h2>
        <table class="table table-dark">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Hometown:</td>
                    <td>Johns Creek, GA</td>
                </tr>
                <tr>
                    <td>Nickname:</td>
                    <td>Chai Queen</td>
                </tr>
                <tr>
                <td>Occupation:</td>
                <td>Finance & Music Professional</td>
                </tr>
                <tr>
                <td>Interests:</td>
                <td>Performing in Musicals, hiking, watching anime</td>
                </tr>
                <tr>
                <td>LinkedIn:</td>
                <td><a href="https://www.linkedin.com/in/priyadarshini-kulkarni-99762613/">Priyadarsini-Kulkarni</a></td>
                </tr>
            </tbody>
            </table>
   
        </div>
    <div class="col-md-6 text-center">
        <img src="../static/images/Assam1.jpg" alt="Assam Javaid" width="250" height="250">
        <h2>Assam Javaid</h2>
        <table class="table table-dark">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Hometown:</td>
                    <td>Lawrenceville, GA</td>
                </tr>
                <tr>
                    <td>Nickname:</td>
                    <td>Ace</td>
                </tr>
                <tr>
                <td>Occupation:</td>
                <td>Self - Employed</td>
                </tr>
                <tr>
                <td>Interests:</td>
                <td>Squash, Soccer, Console Gaming, Traveling</td>
                </tr>
                <tr>
                <td>LinkedIn:</td>
                <td><a href="www.linkedin.com/in/Assam-Javaid">Assam Javaid</a></td>
                </tr>
            </tbody>
            </table>
    </div>
    <div class="container body-content">
             <hr />
        <footer>
            <p>&copy; {{ year }} - The Instacart Shopper</p>
        </footer>
    </div>

    <!-- <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script src="/static/scripts/respond.js"></script> -->
    

</body>
</html>
